{% extends 'base.html' %}
{% block head %}
Coco's Literary Lounge
{% endblock %}
{% block content %}
<h1>Browse the library!</h1>
<h2>Find a book to check out!</h2>

<div class="library-content">
    <div class="book-row">
        <div class="book-image">
            <a href="#popup-ace">
            <img src="{{ url_for('static', filename='images/ace.jpg') }}" alt="Book 1">
            </a>
            <p class="image-caption">A Thriller Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-citr">
            <img src="{{ url_for('static', filename='images/citr.jpg') }}" alt="Book 2">
            </a>
            <p class="image-caption">A Young Adult Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-frankenstien">
            <img src="{{ url_for('static', filename='images/frankenstien.jpg') }}" alt="Book 3">
            </a>
            <p class="image-caption">A Science Ficton Novel</p>
        </div>
         <div class="book-image">
            <a href="#popup-lotf">
            <img src="{{ url_for('static', filename='images/lotf.jpg') }}" alt="Book 4">
            </a>
            <p class="image-caption">A Young Adult Novel</p>
         </div>
        <div class="book-image">
            <a href="#popup-grenade">
            <img src="{{ url_for('static', filename='images/grenade.jpg') }}" alt="Book 5">
            </a>
            <p class="image-caption">A Fiction Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-tkam">
            <img src="{{ url_for('static', filename='images/tkam.jpg') }}" alt="Book 6">
            </a>
            <p class="image-caption">A Thriller Novel</p>
        </div>
        </a>
        <div class="book-image">
            <a href="#popup-tfios">
            <img src="{{ url_for('static', filename='images/tfios.jpg') }}" alt="Book 7">
            </a>
            <p class="image-caption">A Young Adult & Romance Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-pap">
            <img src="{{ url_for('static', filename='images/pap.jpg') }}" alt="Book 8">
            </a>
            <p class="image-caption">A Romance Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-jaws">
            <img src="{{ url_for('static', filename='images/jaws.jpg') }}" alt="Book 9">
            </a>
            <p class="image-caption">A Thriller Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-gg">
            <img src="{{ url_for('static', filename='images/gg.jpg') }}" alt="Book 10">
            </a>
            <p class="image-caption">A Literary Ficton Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-LTT">
            <img src="{{ url_for('static', filename='images/LTT.jpg') }}" alt="Book 10">
            </a>
            <p class="image-caption">A Self-Help Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-AT">
            <img src="{{ url_for('static', filename='images/AT.jpg') }}" alt="Book 10">
            </a>
            <p class="image-caption">A Self-Help Novel</p>
        </div>

        <!--THE HUNGER GAMES SERIES-->
        <div class="book-image">
            <a href="#popup-HG1">
            <img src="{{ url_for('static', filename='images/HG1.jpg') }}" alt="Book 10">
            </a>
            <p class="image-caption">The First Novel in the <i><strong>Hunger Games</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-HG2">
            <img src="{{ url_for('static', filename='images/HG2.jpg') }}" alt="Book 10">
            </a>
            <p class="image-caption">The Second Novel in the <i><strong>Hunger Games</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-HG3">
            <img src="{{ url_for('static', filename='images/HG3.jpg') }}" alt="Book 10">
            </a>
            <p class="image-caption">The Third Novel in the <i><strong>Hunger Games</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-HG4">
            <img src="{{ url_for('static', filename='images/HG4.jpg') }}" alt="Book 10">
            </a>
            <p class="image-caption">The Fourth Novel in the <i><strong>Hunger Games</strong></i> Series</p>
        </div>
        <!--THE HUNGER GAMES SERIES-->

        <!-- THE WE WERE LIARS SERIES -->
        <div class="book-image">
            <a href="#popup-WWL1">
            <img src="{{ url_for('static', filename='images/WWL1.jpg') }}" alt="Book 10">
            </a>
            <p class="image-caption">The First Novel in the <i><strong>We Were Liars</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-WW2">
            <img src="{{ url_for('static', filename='images/WW2.jpg') }}" alt="Book 10">
            </a>
            <p class="image-caption">The First Novel in the <i><strong>We Were Liars</strong></i> Series</p>
        </div>
        <!-- THE WE WERE LIARS SERIES -->

        <!-- THE UGLIES SERIES -->
        <div class="book-image">
            <a href="#popup-uglies">
            <img src="{{ url_for('static', filename='images/uglies.jpg') }}" alt="Book 11">
            </a>
            <p class="image-caption">The First Novel in the <i><strong>Uglies</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-pretties">
            <img src="{{ url_for('static', filename='images/pretties.jpg') }}" alt="Book 12">
            </a>
            <p class="image-caption">The Second Novel in the <i><strong>Uglies</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-specials">
            <img src="{{ url_for('static', filename='images/specials.jpg') }}" alt="Book 13">
            </a>
            <p class="image-caption">The Third Novel in the <i><strong>Uglies</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-extras">
            <img src="{{ url_for('static', filename='images/extras.jpg') }}" alt="Book 14">
            </a>
            <p class="image-caption">The Fourth Novel in the <i><strong>Uglies</strong></i> Series</p>
        </div>
        <!-- THE UGLIES SERIES -->

        <!-- THE CARLS SERIES -->
        <div class="book-image">
            <a href="#popup-AART1">
            <img src="{{ url_for('static', filename='images/AART1.jpg') }}" alt="Book 14">
            </a>
            <p class="image-caption">The First Novel in the <i><strong>Carls</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-AART2">
            <img src="{{ url_for('static', filename='images/AART2.jpg') }}" alt="Book 14">
            </a>
            <p class="image-caption">The Second Novel in the <i><strong>Carls</strong></i> Series</p>
        </div>
        <!-- THE CARLS SERIES -->

        <!-- THE HARRY POTTER SERIES -->
        <div class="book-image">
            <a href="#popup-hp1">
            <img src="{{ url_for('static', filename='images/hp1.jpg') }}" alt="Book 15">
            </a>
            <p class="image-caption">The First Book of the <i><strong>Harry Potter</strong></i>Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-hp2">
            <img src="{{ url_for('static', filename='images/hp2.jpg') }}" alt="Book 16">
            </a>
            <p class="image-caption">The Second Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-hp3">
            <img src="{{ url_for('static', filename='images/hp3.jpg') }}" alt="Book 17">
            </a>
            <p class="image-caption">The Third Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-hp4">
            <img src="{{ url_for('static', filename='images/hp4.jpg') }}" alt="Book 18">
            </a>
            <p class="image-caption">The Fourth Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-hp5">
            <img src="{{ url_for('static', filename='images/hp5.jpg') }}" alt="Book 19">
            </a>
            <p class="image-caption">The Fifth Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-hp6">
            <img src="{{ url_for('static', filename='images/hp6.jpg') }}" alt="Book 20">
            </a>
            <p class="image-caption">The Sixth Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-hp7">
            <img src="{{ url_for('static', filename='images/hp7.jpg') }}" alt="Book 21">
            </a>
            <p class="image-caption">The Seventh Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <div class="book-image">
            <a href="#popup-hp">
            <img src="{{ url_for('static', filename='images/hp.jpg') }}" alt="Book 22">
            <p class="image-caption">The Eighth Book of the <i><strong>Harry Potter</strong></i> Series</p>
            </a>
        </div>
        <!-- THE HARRY POTTER SERIES --> 

    </div>
</div>


    <!-- Popup for Ace -->
<div id="popup-ace" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
      <h3>Ace</h3>
      <p><a href="/checkout?title=ace">Checkout</a> | <a href="/return?title=ace">Return</a></p>
      </div>
    </div>
<div id="popup-citr" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>citr</h3>
    <p><a href="/checkout?title=citr">Checkout</a> | <a href="/return?title=citr">Return</a></p>
  </div>
</div>

<div id="popup-frankenstien" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>frankenstien</h3>
    <p><a href="/checkout?title=frankenstien">Checkout</a> | <a href="/return?title=frankenstien">Return</a></p>
  </div>
</div>

<div id="popup-lotf" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>lotf</h3>
    <p><a href="/checkout?title=lotf">Checkout</a> | <a href="/return?title=lotf">Return</a></p>
  </div>
</div>

<div id="popup-grenade" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>grenade</h3>
    <p><a href="/checkout?title=grenade">Checkout</a> | <a href="/return?title=grenade">Return</a></p>
  </div>
</div>

<div id="popup-tkam" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>tkam</h3>
    <p><a href="/checkout?title=tkam">Checkout</a> | <a href="/return?title=tkam">Return</a></p>
  </div>
</div>

<div id="popup-tfios" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>tfios</h3>
    <p><a href="/checkout?title=tfios">Checkout</a> | <a href="/return?title=tfios">Return</a></p>
  </div>
</div>

<div id="popup-pap" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>pap</h3>
    <p><a href="/checkout?title=pap">Checkout</a> | <a href="/return?title=pap">Return</a></p>
  </div>
</div>

<div id="popup-jaws" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>jaws</h3>
    <p><a href="/checkout?title=jaws">Checkout</a> | <a href="/return?title=jaws">Return</a></p>
  </div>
</div>

<div id="popup-gg" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>gg</h3>
    <p><a href="/checkout?title=gg">Checkout</a> | <a href="/return?title=gg">Return</a></p>
  </div>
</div>

<div id="popup-LTT" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>LTT</h3>
    <p><a href="/checkout?title=LTT">Checkout</a> | <a href="/return?title=LTT">Return</a></p>
  </div>
</div>

<div id="popup-AT" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>AT</h3>
    <p><a href="/checkout?title=AT">Checkout</a> | <a href="/return?title=AT">Return</a></p>
  </div>
</div>

<div id="popup-HG1" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>HG1</h3>
    <p><a href="/checkout?title=HG1">Checkout</a> | <a href="/return?title=HG1">Return</a></p>
  </div>
</div>

<div id="popup-HG2" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>HG2</h3>
    <p><a href="/checkout?title=HG2">Checkout</a> | <a href="/return?title=HG2">Return</a></p>
  </div>
</div>

<div id="popup-HG3" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>HG3</h3>
    <p><a href="/checkout?title=HG3">Checkout</a> | <a href="/return?title=HG3">Return</a></p>
  </div>
</div>

<div id="popup-HG4" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>HG4</h3>
    <p><a href="/checkout?title=HG4">Checkout</a> | <a href="/return?title=HG4">Return</a></p>
  </div>
</div>

<div id="popup-WWL1" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>WWL1</h3>
    <p><a href="/checkout?title=WWL1">Checkout</a> | <a href="/return?title=WWL1">Return</a></p>
  </div>
</div>

<div id="popup-WW2" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>WW2</h3>
    <p><a href="/checkout?title=WW2">Checkout</a> | <a href="/return?title=WW2">Return</a></p>
  </div>
</div>

<div id="popup-uglies" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>uglies</h3>
    <p><a href="/checkout?title=uglies">Checkout</a> | <a href="/return?title=uglies">Return</a></p>
  </div>
</div>

<div id="popup-pretties" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>pretties</h3>
    <p><a href="/checkout?title=pretties">Checkout</a> | <a href="/return?title=pretties">Return</a></p>
  </div>
</div>

<div id="popup-specials" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>specials</h3>
    <p><a href="/checkout?title=specials">Checkout</a> | <a href="/return?title=specials">Return</a></p>
  </div>
</div>

<div id="popup-extras" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>extras</h3>
    <p><a href="/checkout?title=extras">Checkout</a> | <a href="/return?title=extras">Return</a></p>
  </div>
</div>

<div id="popup-AART1" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>AART1</h3>
    <p><a href="/checkout?title=AART1">Checkout</a> | <a href="/return?title=AART1">Return</a></p>
  </div>
</div>

<div id="popup-AART2" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>AART2</h3>
    <p><a href="/checkout?title=AART2">Checkout</a> | <a href="/return?title=AART2">Return</a></p>
  </div>
</div>

<div id="popup-hp1" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>hp1</h3>
    <p><a href="/checkout?title=hp1">Checkout</a> | <a href="/return?title=hp1">Return</a></p>
  </div>
</div>

<div id="popup-hp2" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>hp2</h3>
    <p><a href="/checkout?title=hp2">Checkout</a> | <a href="/return?title=hp2">Return</a></p>
  </div>
</div>

<div id="popup-hp3" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>hp3</h3>
    <p><a href="/checkout?title=hp3">Checkout</a> | <a href="/return?title=hp3">Return</a></p>
  </div>
</div>

<div id="popup-hp4" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>hp4</h3>
    <p><a href="/checkout?title=hp4">Checkout</a> | <a href="/return?title=hp4">Return</a></p>
  </div>
</div>

<div id="popup-hp5" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>hp5</h3>
    <p><a href="/checkout?title=hp5">Checkout</a> | <a href="/return?title=hp5">Return</a></p>
  </div>
</div>

<div id="popup-hp6" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>hp6</h3>
    <p><a href="/checkout?title=hp6">Checkout</a> | <a href="/return?title=hp6">Return</a></p>
  </div>
</div>

<div id="popup-hp7" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>hp7</h3>
    <p><a href="/checkout?title=hp7">Checkout</a> | <a href="/return?title=hp7">Return</a></p>
  </div>
</div>

<div id="popup-hp" class="popup">
  <div class="popup-content">
    <a href="#" class="close">&times;</a>
    <h3>hp</h3>
    <p><a href="/checkout?title=hp">Checkout</a> | <a href="/return?title=hp">Return</a></p>
  </div>
</div>

{% endblock %}