{% extends 'base.html' %}
{% block head %}
<title>Coco's Literary Lounge</title>
{% endblock %}
{% block content %}
<h1>Browse the library!</h1>
<h2>Find a book to check out!</h2>

<div class="library-content">
    <div class="book-row">
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/ace.jpg') }}" alt="Book 1">
            <p class="image-caption">A Thriller Novel</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/citr.jpg') }}" alt="Book 2">
            <p class="image-caption">A Young Adult Novel</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/frankenstien.jpg') }}" alt="Book 3">
            <p class="image-caption">A Science Ficton Novel</p>
        </div>
         <div class="book-image">
            <img src="{{ url_for('static', filename='images/lotf.jpg') }}" alt="Book 4">
            <p class="image-caption">A Young Adult Novel</p>
         </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/grenade.jpg') }}" alt="Book 5">
            <p class="image-caption">A Fiction Novel</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/tkam.jpg') }}" alt="Book 6">
            <p class="image-caption">A Thriller Novel</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/tfios.jpg') }}" alt="Book 7">
            <p class="image-caption">A Young Adult & Romance Novel</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/hp.jpg') }}" alt="Book 8">
            <p class="image-caption">An Action Novel</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/pap.jpg') }}" alt="Book 9">
            <p class="image-caption">A Romance Novel</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/hp.jpg') }}" alt="Book 8">
            <p class="image-caption">An Action Novel</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/jaws.jpg') }}" alt="Book 9">
            <p class="image-caption">A Thriller Novel</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/uglies.jpg') }}" alt="Book 10">
            <p class="image-caption">A Young Adult Dystopian Novel</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/hp.jpg') }}" alt="Book 8">
            <p class="image-caption">An Action Novel</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/gg.jpg') }}" alt="Book 11">
            <p class="image-caption">A Literary Ficton Novel</p>
        </div>


    </div>
</div>

{% endblock %}