{% extends 'base.html' %}
{% block head %}
Coco's Literary Lounge
{% endblock %}
{% block content %}
<h1>Browse the library!</h1>
<h2>Find a book to check out!</h2>

<div class="library-content">
    <div class="book-row">
        <div class="book-image">
            <a href="#popup-ace">
            <img src="{{ url_for('static', filename='images/ace.jpg') }}" alt="Book 1">
            </a>
            <p class="image-caption">A Thriller Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-citr">
            <img src="{{ url_for('static', filename='images/citr.jpg') }}" alt="Book 2">
            </a>
            <p class="image-caption">A Young Adult Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-frankenstien">
            <img src="{{ url_for('static', filename='images/frankenstien.jpg') }}" alt="Book 3">
            </a>
            <p class="image-caption">A Science Ficton Novel</p>
        </div>
         <div class="book-image">
            <a href="#popup-lotf">
            <img src="{{ url_for('static', filename='images/lotf.jpg') }}" alt="Book 4">
            </a>
            <p class="image-caption">A Young Adult Novel</p>
         </div>
        <div class="book-image">
            <a href="#popup-grenade">
            <img src="{{ url_for('static', filename='images/grenade.jpg') }}" alt="Book 5">
            </a>
            <p class="image-caption">A Fiction Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-tkam">
            <img src="{{ url_for('static', filename='images/tkam.jpg') }}" alt="Book 6">
            <p class="image-caption">A Thriller Novel</p>
        </div>
        </a>
        <div class="book-image">
            <a href="#popup-tfios">
            <img src="{{ url_for('static', filename='images/tfios.jpg') }}" alt="Book 7">
        </a>
            <p class="image-caption">A Young Adult & Romance Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-pap"></a>
            <img src="{{ url_for('static', filename='images/pap.jpg') }}" alt="Book 8">
            </a>
            <p class="image-caption">A Romance Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-jaws">
            <img src="{{ url_for('static', filename='images/jaws.jpg') }}" alt="Book 9">
            </a>
            <p class="image-caption">A Thriller Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-gg">
            <img src="{{ url_for('static', filename='images/gg.jpg') }}" alt="Book 10">
            </a>
            <p class="image-caption">A Literary Ficton Novel</p>
        </div>
        <div class="book-image">
            <a href="#popup-LTT">
            <img src="{{ url_for('static', filename='images/LTT.jpg') }}" alt="Book 10">
        </a>
            <p class="image-caption">A Self-Help Novel</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/AT.jpg') }}" alt="Book 10">
            <p class="image-caption">A Self-Help Novel</p>
        </div>

        <!--THE HUNGER GAMES SERIES-->
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/HG1.jpg') }}" alt="Book 10">
            <p class="image-caption">The First Novel in the <i><strong>Hunger Games</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/HG2.jpg') }}" alt="Book 10">
            <p class="image-caption">The Second Novel in the <i><strong>Hunger Games</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/HG3.jpg') }}" alt="Book 10">
            <p class="image-caption">The Third Novel in the <i><strong>Hunger Games</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/HG4.jpg') }}" alt="Book 10">
            <p class="image-caption">The Fourth Novel in the <i><strong>Hunger Games</strong></i> Series</p>
        </div>
        <!--THE HUNGER GAMES SERIES-->

        <!-- THE WE WERE LIARS SERIES -->
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/WWL1.jpg') }}" alt="Book 10">
            <p class="image-caption">The First Novel in the <i><strong>We Were Liars</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/WW2.jpg') }}" alt="Book 10">
            <p class="image-caption">The First Novel in the <i><strong>We Were Liars</strong></i> Series</p>
        </div>
        <!-- THE WE WERE LIARS SERIES -->

        <!-- THE UGLIES SERIES -->
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/uglies.jpg') }}" alt="Book 11">
            <p class="image-caption">The First Novel in the <i><strong>Uglies</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/pretties.jpg') }}" alt="Book 12">
            <p class="image-caption">The Second Novel in the <i><strong>Uglies</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/specials.jpg') }}" alt="Book 13">
            <p class="image-caption">The Third Novel in the <i><strong>Uglies</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/extras.jpg') }}" alt="Book 14">
            <p class="image-caption">The Fourth Novel in the <i><strong>Uglies</strong></i> Series</p>
        </div>
        <!-- THE UGLIES SERIES -->

        <!-- THE CARLS SERIES -->
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/AART1.jpg') }}" alt="Book 14">
            <p class="image-caption">The First Novel in the <i><strong>Carls</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/AART2.jpg') }}" alt="Book 14">
            <p class="image-caption">The Second Novel in the <i><strong>Carls</strong></i> Series</p>
        </div>
        <!-- THE CARLS SERIES -->

        <!-- THE HARRY POTTER SERIES -->
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/hp1.jpg') }}" alt="Book 15">
            <p class="image-caption">The First Book of the <i><strong>Harry Potter</strong></i>Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/hp2.jpg') }}" alt="Book 16">
            <p class="image-caption">The Second Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/hp3.jpg') }}" alt="Book 17">
            <p class="image-caption">The Third Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/hp4.jpg') }}" alt="Book 18">
            <p class="image-caption">The Fourth Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/hp5.jpg') }}" alt="Book 19">
            <p class="image-caption">The Fifth Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/hp6.jpg') }}" alt="Book 20">
            <p class="image-caption">The Sixth Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/hp7.jpg') }}" alt="Book 21">
            <p class="image-caption">The Seventh Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <div class="book-image">
            <img src="{{ url_for('static', filename='images/hp.jpg') }}" alt="Book 22">
            <p class="image-caption">The Eighth Book of the <i><strong>Harry Potter</strong></i> Series</p>
        </div>
        <!-- THE HARRY POTTER SERIES --> 

    </div>
</div>


<!--Checking out what chat says to do for my popups-->
<!-- Popup for Ace -->
<div id="popup-ace" class="popup">
    <div class="popup-content">
      <a href="#" class="close">&times;</a>
      <h3>Ace</h3>
      <p><a href="/checkout?title=Ace">Checkout</a> | <a href="/return?title=Ace">Return</a></p>
    </div>
  </div>
  
  <!-- Popup for CITR -->
  <div id="popup-citr" class="popup">
    <div class="popup-content">
      <a href="#" class="close">&times;</a>
      <h3>The Catcher in the Rye</h3>
      <p><a href="/checkout?title=CITR">Checkout</a> | <a href="/return?title=CITR">Return</a></p>
    </div>
  </div>
  
  <!-- Popup for Frankenstein -->
  <div id="popup-frankenstein" class="popup">
    <div class="popup-content">
      <a href="#" class="close">&times;</a>
      <h3>Frankenstein</h3>
      <p><a href="/checkout?title=Frankenstein">Checkout</a> | <a href="/return?title=Frankenstein">Return</a></p>
    </div>
  </div>
  

{% endblock %}